.form-field {
    margin: 1rem;
    border-radius: 10px;
  }

  .form-input{
      background: white;
  }

  .block{
    background: #ccc;
    width: 100%;
    height: 100%;
    position: relative;
  }
  .login {
    display: flex;
  }
  
  .login-block {
    width: 30%;
  }

  .checkbox{
      margin: 1rem;
  }
  
  .login-page {
    width: 40%;
    background: #8cd5f7;
    padding: 10px;
  }

  h3{
      margin: 1rem;
      color: #0058aa;
  }

  h4{
    margin: 1rem 1rem 0 1rem;
    color: #015d92;
}

.error{
  margin-top: 10px;
  color: #ff0000;
}

.address{
  margin: 30px 20px 0 20px;
  display: flex;
  justify-content: space-between;
}

.address-list{
  padding-top: 10px;
}

.checkbox-label{
  margin: 10px;
}

.checkbox .error{
  margin-top: 10px;
}